@import url("styles/header.css");
@import url("styles/banner.css");

/* código omitido */


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #000000;
    --laranja: #ffe600;
    --azul-degrade: linear-gradient(97.54deg, #0099ff 35.49%, #0099ff 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
}
